/* PyChatGPT CSS 0.1 */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #b7dccd; 
    color: #2e504b;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    margin-top: 20px;
    color: #0c6e8c; 
}

#conversacion {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    background-color: #f5f5f5; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 160px;
    color: #2e504b; 
}

#conversacion p {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.mensaje-usuario,
.mensaje-asistente {
    flex: 1;
    white-space: pre-wrap;
    margin-left: 10px;
    color: #000000; 
}

strong {
    margin-left: 10px;
    margin-right: 10px;
}

#contenedor_formulario {
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
}

#contenedor_formulario form {
    width: 60%;
    margin: auto;
}

#entrada_usuario {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #6a9591; 
    background-color: #f5f5f5; 
    color: #2e504b; 
    margin-bottom: 10px;
    resize: none;
}

#btn_enviar {
    background-color: #0c6e8c; 
    color: #ffffff; 
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#btn_enviar:hover {
    background-color: #2e504b; 
}

.circulo {
    display: inline-block;
    vertical-align: middle;
}

.circulo img {
    width: 20px;
    height: auto;
    border-radius: 50%;
    padding: 3px;
}

.circulo .icono-corazon {
    background-color: #E74C3C;
}

.circulo .icono-engranaje {
    background-color: #19c37d;
}

#entrada_usuario::-webkit-scrollbar {
    width: 15px;
}

#entrada_usuario::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 9px;
}

#entrada_usuario::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}

#entrada_usuario::-webkit-scrollbar-track {
    background-color: #f5f5f5; 
}

.flecha {
    position: fixed;
    font-size: 18px;
    color: #ffffff; 
    text-decoration: none;
    padding: 10px;
    border-radius: 25%;
    background-color: #2e504b; 
    border: none;
    z-index: 3;
    transition: background-color 0.3s;
    right: 22px;
}

.flecha {
    bottom: 20px;
}

.flecha:hover {
    background-color: #0c6e8c; 
}

/* Estilos para el mensaje de espera */
#mensaje-espera {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c6e8c;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    z-index: 4;
}